@media screen and (min-width:769px) and (max-width:992px) {
    img{
        max-width: 100%;
    }
    li{
        font-size:1.5rem;
    }
}
@media screen and (min-width:577px) and (max-width:768px) {
    img{
        max-width: 100%;
    }
    li{
        font-size:10px;
    }
}
@media screen and (max-width:576px) {
    img{
        max-width: 100%;
    }
    li{
        font-size:10px;
    }
   
}